{% load static %}

<nav id="navigation" class="navigation navigation-landscape">
    <div class="nav-header">
        <a class="nav-brand" href="/index">
            <img src="{% static 'assets/img/logo.png' %}" class="logo" alt="" />
        </a>
        <div class="nav-toggle"></div>
    </div>
    <div class="nav-menus-wrapper" style="transition-property: none;">
        <ul class="nav-menu">
        
            <li class="active"><a href="#">Home<span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                    <li><a href="/home-2">Home 1</a></li>
                    <li><a href="/home-2">Home 2</a></li>
                    <li><a href="/home-3">Home 3</a></li>
                    <li><a href="/home-4">Home 4</a></li>
                    <li><a href="/home-5">Home 5</a></li>
                    <li><a href="/home-6">Home 6</a></li>
                    <li><a href="/home-7">Home 7</a></li>
                    <li><a href="/home-8">Home 8</a></li>
                </ul>
            </li>
            
            <li><a href="#">Courses<span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                    <li><a href="#">Courses Grid Sidebar<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="/grid-with-sidebar">Courses grid 1</a></li>
                            <li><a href="/grid-with-sidebar-2">Courses grid 2</a></li>
                            <li><a href="/grid-with-sidebar-3">Courses grid 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Courses Grid Full Width<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="/full-width-course-2">Courses grid 1</a></li>
                            <li><a href="/full-width-course-2">Courses grid 2</a></li>
                            <li><a href="/full-width-course-3">Courses grid 3</a></li>
                            <li><a href="/full-width-course-3">Courses grid 4</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Courses Detail<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="/detail">Course Detail 1</a></li>
                            <li><a href="/detail2">Course Detail 2</a></li>
                            <li><a href="/detail3">Course Detail 3</a></li>
                            <li><a href="/detail4">Course Detail 4</a></li>
                            <li><a href="/detail5">Course Detail 5</a></li>
                        </ul>
                    </li>
                    <li><a href="/find-instructor">Find Instructor</a></li>
                    <li><a href="/instructor_detail">Instructor Detail</a></li>
                </ul>
            </li>
            
            <li><a href="#">Pages<span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                    <li class=""><a href="#">User Dashboard<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="/dashboard">User Dashboard</a></li>
                            <li><a href="/my_profile">My Profile</a></li>
                            <li><a href="/allcourses">My Courses</a></li>
                            <li><a href="/my_order">My Order</a></li>
                            <li><a href="/saved_courses">Saved Courses</a></li>
                            <li><a href="/reviews">My Reviews</a></li>
                            <li><a href="/settings">My Settings</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Shop Pages<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="/shop_full_width">Shop Full Width</a></li>
                            <li><a href="/shop_left_sidebar">Shop Sidebar Left</a></li>
                            <li><a href="/shop_right_sidebar">Shop Sidebar Right</a></li>
                            <li><a href="/product_detail">Shop Detail</a></li>
                            <li><a href="/add_cart">Add To Cart</a></li>
                            <li><a href="/product_wishlist">Wishlist</a></li>
                            <li><a href="/checkout">Checkout</a></li>
                            <li><a href="/shop_order">Order</a></li>
                        </ul>
                    </li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/blog">Blog Style</a></li>
                    <li><a href="/blogdetail">Blog Detail</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/error">404 Page</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/component">Elements</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="/faq">FAQs</a></li>
                </ul>
            </li>
            
            <li><a href="{% url 'contact' %}">Contact</a></li>
            
        </ul>
        
        <ul class="nav-menu nav-menu-social align-to-right">
            
            <li class="login_click light">
                <a href="#" data-toggle="modal" data-target="#login">Sign in</a>
            </li>
            <li class="login_click theme-bg">
                <a href="#" data-toggle="modal" data-target="#signup">Sign up</a>
            </li>
        </ul>
    </div>
</nav>