{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="www.frebsite.nl" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
        <title>LearnUp - Online Course & Education HTML Template</title>
		 
        <!-- Custom CSS -->
        <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
		
		<!-- Custom Color Option -->
		<link href="{% static 'assets/css/colors.css' %}" rel="stylesheet">
		
    </head>
	
    <body class="red-skin">
	
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css' %} -->
        <!-- ============================================================== -->
        <div id="preloader"><div class="preloader"><span></span><span></span></div></div>
		
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-light head-shadow">
				<div class="container">
					{% include 'navbar.html' %}

				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

			<!-- ============================ Product Detail Start================================== -->
			<section class="pr_detail">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<div class="woocommerce single_product quick_view_wrap">
							
								<div class="woo-single-images">
									<div class="feature-style-single">
										<img src="https://via.placeholder.com/700x700" alt="product-book-06" width="570">
									</div>
								</div>
								
								<div class="summary entry-summary">
									<div class="woo_inner">
										<div class="shop_status sell">New</div>
										<h2 class="woo_product_title">
											<a href="#">Early Field Experience: Teach Well</a>
										</h2>
										<ul class="woo_info">
											<li><strong>Category:</strong>Design</li>
											<li><strong>SKU:</strong>#CDP0147</li>
										</ul>
										<div class="woo_price_rate">
											<div class="woo_rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
											</div>
											<div class="woo_price_fix">
												<h3 class="mb-0 theme-cl">$149.00</h3>
											</div>
										</div>
										<div class="woo_short_desc">
											<p>For many student teachers the prospect of facing their first classroom experience is overwhelming. This book presents a realistic view of what they will face in the classroom, but also provides them the skills they need to become reflective, professional teachers in their own right.</p>
										</div>
										<div class="quantity-button-wrapper">
											<label>Quantity</label>
											<div class="quantity">
												<input type="number" class="form-control qty" min="1" value="1" title="Qty" placeholder="" inputmode="numeric">
											</div>
										</div>
										<div class="woo_buttons">
											<button type="submit" class="btn btn-theme2">Add to cart</button>
											<a href="javascript:void(0)" class="btn woo_btn_light" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="ti-heart"></i></a>
											<a href="javascript:void(0)" class="btn woo_btn_light" data-toggle="tooltip" data-placement="top" title="Compare"><i class="ti-reload"></i></a>
										</div>
									</div>
								</div>
							
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Product Detail End ================================== -->			

			
			<!-- ============================ Product Description ================================== -->
			<section class="bg-light">
				<div class="container">
					
					<div class="row">
						
						<div class="col-lg-10 col-md-12 col-sm-12">
							
							<div class="property_block_wrap_header">
								<ul class="nav nav-tabs customize-tab tabs_creative" id="myTab" role="tablist">
								  <li class="nav-item">
									<a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">Description</a>
								  </li>
								  
								  <li class="nav-item">
									<a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="false">Custom Detail</a>
								  </li>
								  
								  <li class="nav-item">
									<a class="nav-link" id="upgrade-tab" data-toggle="tab" href="#upgrade" role="tab" aria-controls="upgrade" aria-selected="false">Reviews</a>
								  </li>
								  
								</ul>
							</div>
							
							<div class="tab-content tabs_content_creative" id="myTabContent">
								
								<!-- general Query -->
								<div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
									</p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>									
								</div>
								
								<!-- general Query -->
								<div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
									<div class="table-responsive">
										<table class="table">
											<tbody>
												<tr>
													<th scope="row">Product ID</th>
													<td>#PRT123452</td>
												</tr>
												<tr>
													<th scope="row">Weight</th>
													<td>125kg</a></td>
												</tr>
												<tr>
													<th scope="row">SKU</th>
													<td>SKL125002</td>
												</tr>
												<tr>
													<th scope="row">Color</th>
													<td>Black</td>
												</tr>
											</tbody>
										</table>
									</div>									
								</div>
								
								<!-- general Query -->
								<div class="tab-pane fade" id="upgrade" role="tabpanel" aria-labelledby="upgrade-tab">
									
									<div class="alert alert-success" role="alert">
										No any reviews yet
									</div>
									
								</div>
							
							</div>
							
						</div>
						
					</div>
				</div>
			</section>
			<!-- ============================ Product Description End ================================== -->
			
			<!-- ============================ Related Product ================================== -->
			<section>
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-lg-5 col-md-6 col-sm-12">
							<div class="sec-heading center">
								<p>Related Product</p>
								<h2><span class="theme-cl">hot & New</span> Related Product</h2>
							</div>
						</div>
					</div>
					
					<div class="row">
						
						<!-- Single Product -->
						<div class="col-lg-3 col-md-4 col-sm-6">
					
							<div class="shop_grid">
								<div class="shop_status hot">Hot</div>
								<div class="shop_grid_thumb">
									<a href="#"><img src="https://via.placeholder.com/700x700" class="img-fluid" alt="" /></a>
								</div>
								<div class="shop_grid_caption">
									<h4 class="sg_rate_title"><a href="#">The Shop Time</a></h4>
									<div class="shop_grid_rate">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
									</div>
									<span class="sg_rate theme-cl">$179.00</span>
								</div>
								<div class="shop_grid_action">
									<a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ti-zoom-in"></i></a>
									<a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="ti-heart"></i></a>
									<a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ti-shopping-cart"></i></a>
									<a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="Compare"><i class="ti-reload"></i></a>
								</div>
							</div>
							
						</div>
						
						<!-- Single Product -->
						<div class="col-lg-3  col-md-4 col-sm-6">
					
							<div class="shop_grid">
								<div class="shop_grid_thumb">
									<a href="#"><img src="https://via.placeholder.com/700x700" class="img-fluid" alt="" /></a>
								</div>
								<div class="shop_grid_caption">
									<h4 class="sg_rate_title"><a href="#">Jodi Picoult</a></h4>
									<div class="shop_grid_rate">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
									</div>
									<span class="sg_rate theme-cl">$199.00</span>
								</div>
								<div class="shop_grid_action">
									<a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ti-zoom-in"></i></a>
									<a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="ti-heart"></i></a>
									<a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ti-shopping-cart"></i></a>
									<a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="Compare"><i class="ti-reload"></i></a>
								</div>
							</div>
							
						</div>
						
						<!-- Single Product -->
						<div class="col-lg-3 col-md-4 col-sm-6">
					
							<div class="shop_grid">
								<div class="shop_status sell">New</div>
								<div class="shop_grid_thumb">
									<a href="#"><img src="https://via.placeholder.com/700x700" class="img-fluid" alt="" /></a>
								</div>
								<div class="shop_grid_caption">
									<h4 class="sg_rate_title"><a href="#">Ken Follett</a></h4>
									<div class="shop_grid_rate">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
									</div>
									<span class="sg_rate theme-cl">$129.00</span>
								</div>
								<div class="shop_grid_action">
									<a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ti-zoom-in"></i></a>
									<a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="ti-heart"></i></a>
									<a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ti-shopping-cart"></i></a>
									<a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="Compare"><i class="ti-reload"></i></a>
								</div>
							</div>
							
						</div>
						
						<!-- Single Product -->
						<div class="col-lg-3 col-md-4 col-sm-6">
					
							<div class="shop_grid">
								<div class="shop_grid_thumb">
									<a href="#"><img src="https://via.placeholder.com/700x700" class="img-fluid" alt="" /></a>
								</div>
								<div class="shop_grid_caption">
									<h4 class="sg_rate_title"><a href="#">Charllots Web 2</a></h4>
									<div class="shop_grid_rate">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
									</div>
									<span class="sg_rate theme-cl">$249.00</span>
								</div>
								<div class="shop_grid_action">
									<a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ti-zoom-in"></i></a>
									<a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="ti-heart"></i></a>
									<a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ti-shopping-cart"></i></a>
									<a href="#" class="btn btn-shop" data-toggle="tooltip" data-placement="top" title="Compare"><i class="ti-reload"></i></a>
								</div>
							</div>
							
						</div>
						
					</div>
					
				</div>
			</section>
			<!-- ============================ Related Product End ================================== -->
			
			<!-- ============================== Start Newsletter ================================== -->
			{% include 'footer1.html' %}
			<!-- ============================ Footer End ================================== -->
			
			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="registermodal">
						<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">Log In</h4>
							<div class="login-form">
								<form>
								
									<div class="form-group">
										<label>User Name</label>
										<input type="text" class="form-control" placeholder="Username">
									</div>
									
									<div class="form-group">
										<label>Password</label>
										<input type="password" class="form-control" placeholder="*******">
									</div>
									
									<div class="form-group">
										<button type="submit" class="btn btn-md full-width pop-login">Login</button>
									</div>
								
								</form>
							</div>
							
							<div class="social-login mb-3">
								<ul>
									<li>
										<input id="reg" class="checkbox-custom" name="reg" type="checkbox">
										<label for="reg" class="checkbox-custom-label">Save Password</label>
									</li>
									<li><a href="#" class="theme-cl">Forget Password?</a></li>
								</ul>
							</div>
							
							<div class="text-center">
								<p class="mt-2">Haven't Any Account? <a href="register.html" class="link">Click here</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<!-- Sign Up Modal -->
			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="sign-up">
						<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">Sign Up</h4>
							<div class="login-form">
								<form>
								
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Full Name">
									</div>
									
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Email">
									</div>
									
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Username">
									</div>
									
									<div class="form-group">
										<input type="password" class="form-control" placeholder="*******">
									</div>

									
									<div class="form-group">
										<button type="submit" class="btn btn-md full-width pop-login">Sign Up</button>
									</div>
								
								</form>
							</div>
							<div class="text-center">
								<p class="mt-3"><i class="ti-user mr-1"></i>Already Have An Account? <a href="#" class="link">Go For LogIn</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/popper.min.js' %}"></script>
		<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'assets/js/select2.min.js' %}"></script>
		<script src="{% static 'assets/js/slick.js' %}"></script>
		<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'assets/js/counterup.min.js' %}"></script>
		<script src="{% static 'assets/js/custom.js' %}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->
		<script>
			function openNav() {
			  document.getElementById("filter-sidebar").style.width = "320px";
			}

			function closeNav() {
			  document.getElementById("filter-sidebar").style.width = "0";
			}
		</script>

	</body>
</html>