{% load static %}
<div class="col-lg-3 col-md-3 p-0">
    <div class="dashboard-navbar">
        
        <div class="d-user-avater">
            <img src="https://via.placeholder.com/500x500" class="img-fluid avater" alt="">
            <h4>Adam Harshvardhan</h4>
            <span>Canada USA</span>
        </div>
        
        <div class="d-navigation">
            <ul id="side-menu">
                <li class="active"><a href="/dashboard"><i class="ti-user"></i>Dashboard</a></li>
                <li><a href="/my_profile"><i class="ti-heart"></i>My Profile</a></li>
                <li><a href="/saved_courses"><i class="ti-heart"></i>Saved Courses</a></li>
                <li class="dropdown">
                    <a href="allcourses"><i class="ti-layers"></i>All Courses<span class="ti-angle-left"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/allcourses">All</a></li>
                        <li><a href="javascript:void(0);">Published</a></li>
                        <li><a href="javascript:void(0);">Pending</a></li>
                        <li><a href="javascript:void(0);">Expired</a></li>
                        <li><a href="javascript:void(0);">In Draft</a></li>
                    </ul>
                </li>
                <li><a href="/my_order"><i class="ti-shopping-cart"></i>My Order</a></li>
                <li><a href="/settings"><i class="ti-settings"></i>Settings</a></li>
                <li><a href="/reviews"><i class="ti-comment-alt"></i>Reviews</a></li>
                <li><a href="#"><i class="ti-power-off"></i>Log Out</a></li>
            </ul>
        </div>
        
    </div>
    
    
</div>